# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/

# Diagnostic reports (https://nodejs.org/api/report.html)
.report/

# Node.js
# Caches
.npm
.eslintcache
.vitepress/cache
.yarn--cache
.next/cache
.nuxt/
.output/
.vercel/output/
.moon/cache/

# Dependencies
/node_modules

# IDEs and editors
.vscode/*
!.vscode/extensions.json
.idea
.fleet
.env
.env*.local
.DS_Store
Thumbs.db

# Build outputs
/dist
/build
.vite/
/coverage

# misc
*.tgz
.public
.git-credentials
.gitattributes
.package-lock.json